<p>contact works!</p>

<div class="container my-5 py-5 z-depth-1">
 
 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="div1">

          <h3 style="border-bottom: 2px solid rgb(255, 208, 0); display: flex; justify-content: center;" class="font-weight-bold">CONTACT US</h3>

          <h5 class="text-muted" style="display: flex; justify-content: center; padding-left: 150px; padding-right: 150px; margin-top: 20px;">
            Email us with any question or inquiries or call. We would be happy to
          </h5> 
          <h5 class="text-muted" style="display: flex; justify-content: center; padding-left: 150px; padding-right: 150px;">
            answer your question and set up a meeting with you.
          </h5>
          
          <!-- <a style="margin-top: 20px; display:flex; justify-content: center;" class="btn btn-purple btn-md ml-0" href="" role="button">Start now<i class="fa fa-gem ml-2"></i></a> -->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

        <!--Grid column-->
        <div class="row" style="margin-top: 50px;">

          <!--Image-->
          <div class="col"> 
                 <h3 style="display: flex; justify-content: center; padding-top: 50px;">Call Us</h3> 
                 <p style="display: flex; justify-content: center; ">9602058877</p> 
          </div>
          
          <div class="col">
                  <h3 style="display: flex; justify-content: center; padding-top: 50px;">Ask a Question</h3>
                    <button class="btn btn-primary" style="margin-left: 90px;" (click)="qurrey()">start now</button>
          </div>
          <div class="col">
                  <h3 style="display: flex; justify-content: center; padding-top: 50px;">Email Us</h3>
                  <p style="display: flex; justify-content: center; ">explorebahrat13@gmail.com</p> 
          </div>

        </div>
        <!--Grid column-->
     
    </section>
    <!--Section: Content-->
   
  </div>
