<div class="outerdiv">

  <div class="xyz">
    <h5>Places You Must Visit in Your Lifetime</h5> 
  </div>
      
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>
    <li data-target="#demo" data-slide-to="5"></li>
    <li data-target="#demo" data-slide-to="6"></li>
    <li data-target="#demo" data-slide-to="7"></li>
    <li data-target="#demo" data-slide-to="8"></li>
    <li data-target="#demo" data-slide-to="9"></li>
    <li data-target="#demo" data-slide-to="10"></li>
    <li data-target="#demo" data-slide-to="11"></li>
    <li data-target="#demo" data-slide-to="12"></li>
    <li data-target="#demo" data-slide-to="13"></li>
    <li data-target="#demo" data-slide-to="14"></li>
  </ul>
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img [src]="myimages" alt="Los Angeles" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Jaipur</h3>
        <div style="opacity: 0.6; background-color:black; color:white; border-radius: 10px;">
          <p >Jaipur is the capital of India’s Rajasthan state. It evokes the royal family that
            once ruled the region and that, in 1727, founded what is now called the Old City, 
            or “Pink City” for its trademark building color. At the center of its stately street
             grid (notable in India) stands the opulent, colonnaded City Palace complex. With gardens,
              courtyards and museums, part of it is still a royal residence.</p>
        </div>
      </div>   
    </div>
    <div class="carousel-item">
      <img [src]="myimages1" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        <h3>karnataka</h3>
        <p>Bijapur, Karnataka officially known as Vijayapura, is the district headquarters of Bijapur
           District of Karnataka state of India. It is also the headquarters for Bijapur Taluka. Bijapur 
           city is well known for
           its historical monuments of architectural importance built during the rule of the Adil Shahi dynasty.
           Karnataka is a state in southwest India with Arabian Sea coastlines. The capital,
           Bengaluru (formerly Bangalore), is a high-tech hub known for its shopping and nightlife.
            To the southwest, Mysore is home to lavish temples including Mysore Palace, former seat
             of the region’s maharajas. Hampi, once the medieval Vijayanagara empire’s capital, contains
              ruins of Hindu temples, elephant stables and a stone chariot.</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img [src]="myimages2" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Taj Mahal</h3>
        <p>The Taj Mahal is an ivory-white marble mausoleum on the southern bank of
           the river Yamuna in the Indian city of Agra. It was commissioned in 1632 by
            the Mughal emperor Shah Jahan to house the tomb of his favourite wife,
           Mumtaz Mahal; it also houses the tomb of Shah Jahan himself.</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img [src]="myimages3" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Manali</h3>
        <p>Manali is a high-altitude Himalayan resort town in India’s northern Himachal 
          Pradesh state. It has a reputation as a backpacking center and honeymoon destination.
           Set on the Beas River, it’s a gateway for skiing in the Solang Valley and trekking 
           in Parvati Valley. It's also a jumping-off point for paragliding, rafting and
           mountaineering in the Pir Panjal mountains, home to 4,000m-high Rohtang Pass.</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img [src]="myimages4" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Jaisalmer</h3>
        <p>Jaisalmer is a former medieval trading center and a princely state in the western Indian
           state of Rajasthan, in the heart of the Thar Desert. Known as the "Golden City,"
            it's distinguished by its yellow sandstone architecture. Dominating the skyline is 
            Jaisalmer Fort, a sprawling hilltop citadel buttressed by 99 bastions. 
          Behind its massive walls stand the ornate Maharaja's Palace and intricately carved Jain temples.</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img [src]="myimages5" alt="New York" width="1100" height="500">
        <div class="carousel-caption">
          <h3 style="color: black;">Mumbai</h3>
          <div style="background-color:black; color: white; opacity: 0.6; border-radius: 10px;"  >
          
            <p>Mumbai (formerly called Bombay) is a densely populated city on India’s west coast.
               A financial center, it's India's largest city. On the Mumbai Harbour waterfront stands
                the iconic Gateway of India stone arch, built by the British Raj in 1924. Offshore, nearby
                 Elephanta Island holds ancient cave temples dedicated to the Hindu god Shiva.
               The city's also famous as the heart of the Bollywood film industry.</p>
          </div>
     
      </div>   
    </div>
    <div class="carousel-item">
      <img [src]="myimages6" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Chennai</h3>
        <p>Chennai, on the Bay of Bengal in eastern India, is the capital of the state of Tamil Nadu.
           The city is home to Fort St. George, built in 1644 and now a museum showcasing the city’s
            roots as a British military garrison and East India Company trading outpost, when it was
             called Madras. Religious sites include Kapaleeshwarar
           Temple, adorned with carved and painted gods, and St. Mary’s, a 17th-century Anglican church.</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img [src]="myimages7" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Dehli</h3>
        <p>The Delhi Republic Day parade is the largest and most important of the parades marking the Republic 
          Day celebrations in India. The parade takes place every year
           on 26 January at Rajpath, New Delhi. It is the main attraction of India's Republic Day celebrations.
          Delhi, India’s capital territory, is a massive metropolitan area in the country’s north.
           In Old Delhi, a neighborhood dating to the 1600s, stands the imposing Mughal-era Red Fort,
            a symbol of India, and the sprawling Jama Masjid mosque, whose courtyard accommodates 25,000 people.
           Nearby is Chandni Chowk, a vibrant bazaar filled with food carts, sweets shops and spice stalls.</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img [src]="myimages8" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Kolkata</h3>
        <p>Kolkata (formerly Calcutta) is the capital of India's West Bengal state. Founded as an East
           India Company trading post, it was India's capital under the British Raj from 1773–1911. 
           Today it’s known for its grand colonial architecture, art galleries and cultural festivals. 
           It’s also home to Mother House,
           headquarters of the Missionaries of Charity, founded by Mother Teresa, whose tomb is on site.</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img [src]="myimages9" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Assam</h3>
        <p>Assam is a state in northeastern India known for its wildlife, archeological sites and tea plantations. 
          In the west, Guwahati, Assam’s largest city, features silk bazaars and the hilltop Kamakhya Temple.
           Umananda Temple sits on Peacock Island in the Brahmaputra river. The state capital, Dispur, is suburb of
           Guwahati. The ancient pilgrimage site of Hajo and Madan Kamdev, the ruins of a temple complex, 
           lie nearby.</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img [src]="myimages10" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Varanasi</h3>
        <p>Varanasi is a city in the northern Indian state of Uttar Pradesh dating to the 11th century B.C. 
          Regarded as the spiritual capital of India, the city draws Hindu pilgrims who bathe in the Ganges
           River’s sacred waters and perform funeral rites. Along the city's winding streets are some
           2,000 temples, including Kashi Vishwanath, the “Golden Temple,” dedicated to the Hindu god Shiva.</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img [src]="myimages11" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Kerala</h3>
        <p>Kerala, a state on India's tropical Malabar Coast, has nearly 600km of Arabian Sea shoreline.
           It's known for its palm-lined beaches and backwaters, a network of canals. Inland are the Western
            Ghats, mountains whose slopes support tea, coffee and spice plantations as well as wildlife.
             National parks like Eravikulam
           and Periyar, plus Wayanad and other sanctuaries, are home to elephants, langur monkeys and tigers.</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img [src]="myimages12" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Kumbhalgarh Fort</h3>
        <p>Kumbhalgarh is a Mewar fortress on the westerly range of Aravalli Hills, in the Rajsamand district
           near Udaipur of Rajasthan state in western India. It is a World Heritage
           Site included in Hill Forts of Rajasthan. Built during the course of the 15th century by Rana Kumbha.
           And it is the birth place of Maharana Pratap which was the 13th king of Mewar, a region in north-western India in the
            present-day state of Rajasthan.</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img [src]="myimages13" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Andaman and Nicobar Islands</h3>
        <p>The Andaman Islands are an Indian archipelago in the Bay of Bengal. These roughly 300 islands are
           known for their palm-lined, white-sand beaches, mangroves and tropical rainforests. Coral reefs
            supporting marine life such as sharks and rays make for popular diving and snorkeling sites. 
          Indigenous Andaman Islanders inhabit the more remote islands, many of which are off limits to visitors.
          The Andaman and Nicobar Islands, a Union territory of India. </p>
      </div>   
    </div>
    <div class="carousel-item">
      <img [src]="myimages14" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Kota</h3>
        <p>Kota is a city on the Chambal River in Rajasthan, northern India. Inside the Kota Garh, or
          City Palace, the Maharao Madho Singh Museum exhibits miniature paintings and antique weapons.
           South, along the river, tranquil Chambal Garden has a pond with crocodiles. Northeast, 18th-century
            Jagmandir Palace sits in the middle
          of Kishore Sagar Lake. Seven Wonders Park includes mini replicas of the Eiffel Tower and Taj Mahal.</p>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>


</div>