
<html lang="en">
    <body>

        <header>
        
          <!-- Full Page Intro -->
          <div class="view"
           style="background-image: url('../../assets/images/night3.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;"> -->
            <!-- Mask & flexbox options-->
            <div class="mask rgba-gradient align-items-center">
              <!-- Content -->
              <div class="container">
                <!--Grid row-->
                <div class="row mt-5">
                  <!--Grid column-->
                  <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
                    <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s" style="color: white; margin-top: 25px;">Sign up right now! </h1>
                    <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                    <h6 class="mb-3 wow fadeInLeft" data-wow-delay="0.3s"  style="color: white;">SignUp for visit and exploring different tourism places <br> 
                                                                                                  in India. Visit places with images, description, and <br> loaction in map. <br>
                                                                                                Also share your past experience in travelling tourism places in India by the <br>
                                                                                                help of Tourism Feedback Form.   </h6>
                   
                  </div>
                  <!--Grid column-->
                  <!--Grid column-->
                  <div class="col-md-6 col-xl-5 mb-4">
                    <!--Form-->
                  <form #from="ngForm" (ngSubmit)="form">
                    <div class="card wow fadeInRight" data-wow-delay="0.3s">
                      <div class="card-body">
                        <!--Header-->


                        <div class="text-center" style="margin-top: 10px;">
                          <h3 class="white-text" style="color: white;">
                            <i class='fas fa-user-circle' style='font-size:36px'></i> Register:</h3>
                          <hr class="hr-light">
                        </div>
                        <!--Body-->
                        <div class="md-form" [class.has-error]="nameref.invalid && nameref.touched"
                           [class.has-success]="nameref.valid">
                          <i class="fas fa-user prefix white-text active"></i>
                          <label for="form3" class="control-label">Your Name</label>
                          <input #nameref="ngModel"  [(ngModel)]="nameProp" name="name" type="text" id="form3"
                           class="white-text form-control" pattern="[a-z,A-Z]+[ ]+[a-z,A-Z]{3,}$" required>
                          
                           <span *ngIf="nameref.errors">
                            <span  *ngIf="nameref.errors.pattern && nameref.touched" class="text-danger">Enter First & Last Name</span>
                            <span *ngIf="nameref.touched && nameref.errors.required" class="text-danger">Please Enter Name </span> 
                           </span>
                         
                        </div>

                        <div class="md-form" [class.has-error]="mobileref.invalid && mobileref.touched"
                           [class.has-success]="nameref.valid">
                          <i class="fas fa-user prefix white-text active"></i>
                          <label for="form3" class="active">Contact Number</label>
                          <input  #mobileref="ngModel"  [(ngModel)]="mobileProp" name="mobile"  type="number" 
                           id="form3" class="white-text form-control" pattern="[0-9]{10,}$" required>
                         
                           <span *ngIf="mobileref.errors">
                            <span  *ngIf="mobileref.errors.pattern && mobileref.touched" class="text-danger">10 digit number required</span>
                            <span *ngIf="mobileref.touched && mobileref.errors.required" class="text-danger">Enter Contact Number </span> 
            
                          </span>
                        </div>

                        <div class="md-form" [class.has-error]="emailref.invalid && emailref.touched"
                        [class.has-success]="emailref.valid">
                          <i class="fas fa-envelope prefix white-text active"></i>
                          <label for="form2" class="active">Your Email</label>
                          <input #emailref="ngModel"  [(ngModel)]="emailProp" name="email" type="email" id="form2" 
                          class="white-text form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" data-rule="email" required>
                         
                          <span *ngIf="emailref.errors">
                            <span *ngIf="emailref.touched && emailref.errors.required" class="text-danger">Please Enter Email</span>
                            <span *ngIf="emailref.touched && emailref.errors.pattern" class="text-danger">not a valid format</span> 
                          </span>
                        </div>

                        <div class="md-form">
                          <i class="fas fa-lock prefix white-text active"  [class.has-error]="passref.invalid && passref.touched"
                          [class.has-success]="emailref.valid"></i>
                          <label for="form4">Your Password</label>
                          <input #passref="ngModel"  [(ngModel)]="passwordProp" name="password" type="password" required
                           id="form4" class="white-text form-control" pattern="[A-Z,a-z,0-9,._%+-@!&*$]{8,}$" data-rule="password" >
                          
                          <span *ngIf="passref.errors">
                            <span *ngIf="passref.touched && passref.errors.required" class="text-danger">Please Enter Password</span>
                            <span *ngIf="passref.touched && passref.errors.pattern" class="text-danger">atleast 8 char or digit with one specia</span> 
                          </span>
                        </div>

                        <div class="text-center mt-4">
                          <button class="btn btn-indigo" type="submit"  style="color: white;"  (click)="signUp()" [disabled]="from.invalid" >Sign up</button>
                          <hr class="hr-light mb-3 mt-4">
                          <div class="inline-ul text-center">
                            <a class="p-2 m-2 tw-ic">
                              <i class="fab fa-twitter white-text"></i>
                            </a>
                            <a class="p-2 m-2 li-ic">
                              <i class="fab fa-linkedin-in white-text"> </i>
                            </a>
                            <a class="p-2 m-2 ins-ic">
                              <i class="fas fa-instagram white-text"> </i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form> 
                    <!--/.Form-->
                  </div>
                  <!--Grid column-->
                </div>
                <!--Grid row-->
              </div>
              <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
          </div>
          <!-- Full Page Intro -->
        </header>
        <!-- Main navigation -->
        <!--Main Layout-->
        <!-- <main>
          <div class="container">
          
            <div class="row py-5">
            
              <div class="col-md-12 text-center">
                <p>         Tourism in India

                  Tourism potential is immense in India. Our country is a country of diversity of climate, physical features, peoples, ethnicities, religions, languages, cultures, etc. Nearly every region in our vast and varied land has breathtaking natural beauty and enchanting flora and fauna. Tigers and Dolphins, Elephants and Pheasants, majestic Deodar and Orchids all are part of the enchantment of this land. Kaziranga, the wild life sanctuary in Assam, is home of the rare one horned rhino. Arunachal Pradesh had monasteries like Tawang as impressive as Ladakh and like Sikkim which could boast of Pemyengtse and Tashiding attracted a lot of tourists interested in Buddhism.
                  
                  Each state and region has its own uniqueness. Foreign and local tourists love this diversity of colour, food, vulture, climate, etc. Song and dance and colourful festivals and dazzling handicrafts too cast their spell on tourists both domestic and foreign. Exotic beaches of Goa, backwaters of Kerala, snow-clad mountains of Himachal, sands and lakes of Rajasthan, world heritage sites of Delhi, etc. are the symbols of diversity of our nation.
                  
                  This colourful diversity makes our country a major attraction of tourists that is beneficial for the economy and prosperity of the country. We not only have to provide the best of facilities and safety to foreign tourists, but also to maintain a peaceful and amiable coexistence of people belonging to different ethnicities and cultures.
                  
                  There are many benefits involved in travel and tourism. Tourists generate lots of economic activities. Since our city is a fast developing, it needs considerable impetus of propitious economic activities. Tourism helps in providing the much needed impetus to our national economy.  
                  
                  Firstly, tourism helps create an impetus to economic activities which in turn draw investment, revenue, and economic growth. New shops, hotels, travelling facilities, malls, plazas, and other developmental activities begin to take shape because of tourism. Local residents benefit through the services that rise naturally in demand due to economic activities generated by tourism such as learning and recreational activities. For example the airlines and hospitality industry employ thousands of people the world over. Thanks to tourism industry.  
                  
                  The second benefit of travelling and tourism is the economic and public benefits that act as powerful tools in sustaining local economy, creating jobs, and even generating capital. Can you just imagine how much wealth India earns from foreign tourists that visit Taj Mahal, Delhi, and Rajasthan? Some of the old historical buildings have been converted into heritage hotels? Thousands of people get employment and jobs due to the tourism that is boosted by the preservation of forts and other historical monuments.
                  
                  The third benefit that we derive from tourism is the positive image that is formed in the eyes of the foreign and local tourists. Well maintained and preserved forts and buildings send a positive message to the visitors about our caring and organized national character. This not only helps in winning over the confidence of the foreigners, but also attracts foreign investors as well as investors from other states.
                  
                  We must promote tourism by opening centers in the advanced cities/countries. These centers should provide information about places of interest to the people and should also offer special packages at the centers.  
                  
                  We must improve the standard of facilities, safety, hospitality, and other areas related to tourism. There is no denying the fact that India has a huge potential of tourism industry. However, the standard of facilities provided needs to be improved further. We must provide world class facilities to foreign as well as local tourists.    
                  
                  Special tourism packages, e-visa facilities, better transport, boarding, lodging facilities, etc. will surely attract more tourists.  
                  
                  
                  
                  Read more on Brainly.in - </p>
                 
              </div>
            
            </div>
          
          </div>
        </main> -->
      

    </body>
</html>
