<p>religious works!</p>

<div class="row" style="margin-top: 50px; border: 2px solid rgb(255, 208, 0);">
    
    <div class="col abc" style="margin-top: 40px; padding-left: 40px;padding-right: 20px; margin-bottom: 30px;"><h3 style="border-bottom: 2px solid rgb(255, 208, 0);">Religious</h3> Indian-origin religions <strong>Hinduism</strong> , <strong>Jainism</strong> 
        ,<strong> Buddhism</strong>, and <strong>Sikhism</strong> ,are all based on the concepts
         of dharma and karma. Ahimsa, philosophy of nonviolence, is an important aspect of native Indian 
         faiths whose most well known proponent was Mahatma Gandhi who through civil disobedience brought 
         India together against the British Raj and this philosophy further inspired Martin Luther King,
          Jr. during the American civil rights movement. <br> Foreign-origin religion, including Abrahamic religions,
           such as Judaism, Christianity and Islam, are also present in India, as well as Zoroastrianism and 
           Bahá'í Faith both escaping persecution by Islam have also found shelter in India over the centuries. <br><br>
           India has 29 states with different culture and the second most populated country in the world. The Indian 
           culture, often labeled as an amalgamation of several various cultures, spans across the Indian subcontinent
            and has been influenced and shaped by a history that is several thousand years old. Throughout
             the history of India, Indian culture has been heavily influenced by Dharmic religions. <br>
              They have been credited with shaping much of Indian philosophy, literature, architecture, art and music.
               Greater India was the historical extent of Indian culture beyond the Indian subcontinent.
                This particularly concerns the spread of Hinduism, Buddhism, architecture, administration
                 and writing system from India to other parts of Asia through the Silk Road by the travelers and 
                 maritime traders during the early centuries of the Common Era. To the west, Greater 
                 India overlaps with Greater Persia in the Hindu Kush and Pamir Mountains. Over the centuries, 
                 there has been a significant fusion of cultures
            between Buddhists, Hindus, Muslims, Jains, Sikhs and various tribal populations in India. <br><br>
            India is the birthplace of Hinduism, Buddhism, Jainism, Sikhism, and other religions. 
            They are collectively known as Indian religions. <br>
            Hinduism and Buddhism are the world's third and fourth-largest religions respectively, with over
             2 billion followers altogether, and possibly as many as 2.5 or 2.6 billion followers.
             Followers of Indian religions – Hindus, Sikhs, Jains and Buddhists make up around 80–82% population of India.</div>
    <div class="col">
        <div class="row">
            <div class="col" style="margin-top: 40px;"> <strong>Hindu Temple</strong>
                <img style="width: 300px; height: 200px; border-radius: 10px; margin-top: 20px;" [src]="myimage1" alt="">
            </div>
            <div class="col" style="margin-top: 40px;"> <strong>Buddhist Temple</strong>
                <img style="width: 300px; height: 200px;  border-radius: 10px; margin-top: 20px;" [src]="myimage2" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-top: 40px;"> <strong>Sikh Golden Temple</strong>
                <img style="width: 300px; height: 200px;  border-radius: 10px; margin-top: 20px;" [src]="myimage3" alt="">
            </div>
            <div class="col" style="margin-top: 40px;" > <strong>Jain Temple</strong>
                <img style="width: 300px; height: 200px;  border-radius: 10px; margin-top: 20px;" [src]="myimage4" alt="">
            </div>
        </div>
       
    </div>
</div>
