<p>festivals works!</p>

<div class="row" style="margin-top: 50px; border: 2px solid rgb(255, 208, 0);">
    
    <div class="col abc" style="margin-top: 40px; padding-left: 40px;padding-right: 20px; margin-bottom: 30px;">
        <h3 style="border-bottom: 2px solid rgb(255, 208, 0);">Festivals Culture</h3>
        India, being a multi-cultural, multi-ethnic and multi-religious society, celebrates holidays and 
        festivals of various religions. The three national holidays in India, the Independence Day, the
         Republic Day and the Gandhi Jayanti, are celebrated with zeal and enthusiasm across India. In addition,
          many Indian states and regions have local festivals depending on prevalent religious and linguistic 
          demographics. Popular religious festivals include the Hindu festivals of Navratri, Janmashtami, Diwali, 
          Maha Shivratri, Ganesh Chaturthi, Durga Puja, Holi, Rath Yatra, Ugadi, Vasant Panchami, Rakshabandhan,
           and Dussehra. Several harvest festivals such as Makar Sankranti, Sohrai, 
        Pusnâ, Hornbill, Chapchar Kut, Pongal, Onam and Raja sankaranti swinging festival are also fairly popular. <br> <br>
        The Indian New Year festival is celebrated in different parts of India with a unique style at different times. Ugadi, Bihu, Gudhi Padwa, Puthandu, Vaisakhi, Pohela Boishakh, Vishu and Vishuva Sankranti are the New Year festival of different part of India. <br> <br>
        Certain festivals in India are celebrated by multiple religions. Notable examples include Diwali, 
        which is celebrated by Hindus, Sikhs, Buddhists, and Jains across the country and Buddha Purnima, 
        Krishna Janmashtami, Ambedkar Jayanti celebrated by Buddhists and Hindus. Sikh festivals, such as
         Guru Nanak Jayanti, Baisakhi are celebrated with full fanfare by Sikhs and Hindus of Punjab and 
         Delhi where the two communities together form an overwhelming majority of the population. Adding 
         colours to the culture of India, the Dree Festival is one of the tribal festivals of India celebrated
          by the Apatanis of the Ziro valley of Arunachal Pradesh,
         is the easternmost state of India. Nowruz is the most important festival among the Parsi community of India. <br> <br>
         Islam in India is the second largest religion with over 172 million Muslims, according to India's 2011
          census.[27] The Islamic festivals which are observed and are declared public holiday in India are;
           Eid-ul-Fitr, Eid-ul-Adha (Bakri Eid), Milad-un-Nabi, Muharram and Shab-e-Barat.[74] Some of the Indian
            states have declared regional
          holidays for the particular regional popular festivals; such as Arba'een, Jumu'ah-tul-Wida and Shab-e-Qadar. <br> <br>
          Christianity is India's third-largest religion. With over 23 million Christians, of which 17 million are Roman Catholics, India is home to many Christian festivals. The country celebrates Christmas and Good Friday as public holidays.
    </div>
    <div class="col">
        <div class="row">
            <div class="col" style="margin-top: 40px;"><strong>Diwali Festival</strong>
                <img style="width: 300px; height: 200px; border-radius: 10px; margin-top: 20px;" [src]="myimage1" alt="">
                <p style="padding-top: 20px;">
                    Homes, buildings and temples are decorated with festive lights, diya, for Diwali, a major festival of India.
                </p>
              
            </div>
            <div class="col" style="margin-top: 40px;"><strong>Holi Festival</strong>
                <img style="width: 300px; height: 200px;  border-radius: 10px; margin-top: 20px;" [src]="myimage2" alt="">
                <p style="padding-top: 20px;">
                    Color drenched Gopis during the Holi celebrations in Krishna Temple, Mathura.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-top: 20px;"><strong>Navratri Festival</strong>
                <img style="width: 300px; height: 200px;  border-radius: 10px; margin-top: 20px;" [src]="myimage3" alt="">
                <p style="padding-top: 20px;">
                    The Navaratri festival is an occasion of classical and folk dance performances at Hindu temples.
                     Pictured is the Ambaji Temple of Gujarat.
                </p>
            </div>
            <div class="col" style="margin-top: 20px;" ><strong>Ganesh Chaturthi Festival</strong>
                <img style="width: 300px; height: 200px;  border-radius: 10px; margin-top: 20px;" [src]="myimage4" alt="">
                <p style="padding-top: 20px;">
                    Immersion of Ganesha idol during the Ganesh Chaturthi festival in Maharashtra
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-top: 20px;"><strong>Bihu Festival</strong>
                <img style="width: 300px; height: 200px;  border-radius: 10px; margin-top: 20px;" [src]="myimage5" alt="">
                <p style="padding-top: 20px;">
                    The Bihu festival is an Assamese Hindu tradition; it coincides with Vaisakhi in north India,
                     which is observed by Sikhs and Hindus.
                </p>

            </div>
            <div class="col" style="margin-top: 20px;" ><strong>Krishna Janmashtami Festival</strong>
                <img style="width: 300px; height: 200px;  border-radius: 10px; margin-top: 20px;" [src]="myimage6" alt="">
                <p style="padding-top: 20px;">
                   Dahi Handi, a Krishna Janmashtami festive tradition, in progress near Adi Shankaracharya Road, Mumbai, India
                </p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 30px;">
            <div class="col" style="margin-top: 20px;"><strong>Onam Festival</strong>
                <img style="width: 300px; height: 200px;  border-radius: 10px; margin-top: 20px;" [src]="myimage7" alt="">
                <p style="padding-top: 20px;">
                    Kathakali performances are a part of Onam festival tradition.
                </p>
            </div>
            <div class="col" style="margin-top: 20px;" ><strong>Durga Puja Festival</strong>
                <img style="width: 300px; height: 200px;  border-radius: 10px; margin-top: 20px;" [src]="myimage8" alt="">
                <p style="padding-top: 20px;">
                   Durga Puja is a multi-day festival in Eastern India that features elaborate temple and stage
                    decorations (pandals), scripture recitation, performance arts, revelry, and processions.
                </p>
            </div>
        </div>
       
    </div>
</div>
