

<div class="imageback">

    <div class="abc">
        <ul>
            <li></li> 
            <li></li>
            <li></li>
            <li></li>
        </ul>
     
    </div>

    <div class="div1"> 
        <p class="para"> IF YOU WANT TO SEE THE BEAUTY OF THE </p> <p class="para"> INDIA, PLEASE COME HERE</p> 
        <button  style="margin-bottom: 10px;">  <a class="nav-link"  routerLink="/login" >Login</a></button>
          
            
           <div class="txtdiv">
               <h6>Places You Must Visit in Your Lifetime</h6>
           </div>

         <section class="thre">
            <div class="grid">
               <img style="width: 120px; height: 80px; border-radius: 5px;" [src]="myimageA" alt="">
            </div>
            <div class="grid">
                <img  style="width: 120px; height: 80px; border-radius: 5px;" [src]="myimageB" alt="">
            </div>
            <div class="grid">
                <img  style="width: 120px; height: 80px; border-radius: 5px;" [src]="myimageC" alt="">
            </div>
            <div class="grid">
                <img  style="width: 120px; height: 80px; border-radius: 5px;" [src]="myimageD" alt="">
            </div>
           

        </section>  
        <section class="thre bottomborder">

            
            <div class="grid">
                <img  style="width: 120px; height: 80px; border-radius: 5px;" [src]="myimageE" alt="">

            </div> 
            <div class="grid">
                <img  style="width: 120px; height: 80px; border-radius: 5px;" [src]="myimageF" alt="">
            </div>
            <div class="grid">
                <img  style="width: 120px; height: 80px; border-radius: 5px;" [src]="myimageG" alt="">
            </div>
            <div class="grid">
                <img  style="width: 120px; height: 80px; border-radius: 5px;" [src]="myimageH" alt="">
            </div>

        </section>
          
    </div> 

   

</div>

<div class="div2">
    <div class="parentdiv">
      <div class="row">
          <div class="col imga"></div>
          <div class="col cls ">
                  <h2 style="padding-left: 60px; margin-top: 30px;">Explore The Beauty Of The Cities</h2>
                  <p style="padding: 50px;">India is famous for its incredible culture, tasty cuisine, scenic beauty and 
                     heritage sites. We show you the most  beautiful cities countrywide with stunning 
                      urban landscapes, and a thriving cultural scene which you should visit.</p>
          </div>
      </div> 
    </div>
    <div class="parentdiv">
     <div class="row">
        <div class="col cls " > 
            <h2 style="margin-top: 30px; padding-left: 180px;">Exploring wildlife</h2>
             <p style="padding: 40px;">
                Exploring wildlife has always been fun especially in places where wild animals have
                become a part of culture and mythology. India has many sanctuaries and national parks
                 that have been established the endangered species. With the efforts of government and public,
                  many wildlife conservation areas are thriving and giving a chance to people to the animals
                   closely. In India, most of the forests are dense and are accompanied by water bodies, hills, 
                   ravines, etc. Therefore, wildlife safari in any of the sanctuaries in India is adventurous and memorising. 
           
             </p>
               
        </div>
        <div class="col imgb">  </div>
    </div>
    </div>  
    <div class="parentdiv">
    <div class="row">
        <div class="col imgc "> </div>
        <div class="col cls"> 
            <h2 style="margin-top: 30px; padding-left: 140px;">Explore Historical places</h2>
            <p style="padding: 40px;">It’s hardly an exaggeration to say that India’s civilization is one of the oldest in
                 the world. All throughout its history, it has witnessed the rise and fall of several
                  kings, dynasties and empires. Each of those in power, however, left behind their
                   legacy in the form of a monument, maybe a fort, palace or any other historical 
                   structure. Apart from that, there are temples and caves which bear testament to the 
                   artistic excellence attained in the past ages. These places of historical importance
             aren’t just significant as tourist destinations, they also attract lovers of art and history.</p>
        </div>
    </div>
    </div>

    <div class="parentculture">
        <div class="row">
          
            <div class="col clsA"> 
                <h2 style="margin-top: 30px; padding-left: 90px;" > Explore Tradition Or Culture</h2>
                <p style="padding: 40px; padding-bottom: 0px;">The culture of India refers collectively to the thousands of distinct 
                    and unique cultures of all religions and communities present in India. India's languages, religions,
                     dance, music, architecture, food and customs differ from place to place within the country. Indian 
                     culture, often labeled as an amalgamation of several cultures, spans across the Indian subcontinent
                      and has been influenced by a history that is several millennia old.[1][2] Many elements of India's 
                      diverse cultures, such as Indian religions, philosophy, cuisine, languages, dance, music and movies
                       have a profound impact across the Indosphere, Greater India and the world.
                      
                    </p>
                    <div style="margin-left: 50px;">
                        <h5> Religious culture</h5>
                     <h5> Philosophy culture </h5>
                     <h5>    Wedding rituals </h5>
                     <h5>   Sculpture </h5>
                     <h5>  Festivals culture </h5>
                     <h5>  Clothing culture </h5>
                   
                
                    </div>
                     
                 
                  
                  
                      
                     <!-- <div class="abcd" style="display: inline-block;">
                        <ul>
                            <li style="color: black;">Religious culture</li> <br>
                            <li style="color: black;">Philosophy culture</li> <br>
                            <li style="color: black;">Wedding rituals culture</li> <br>
                            <li style="color: black;">Sculpture</li><br>
                            <li style="color: black;">Festivals culture</li> <br>
                            <li style="color: black;">Cuisine culture</li> <br>
                            <li style="color: black;">Clothing culture</li>
                        </ul>
                     </div> -->
            </div>
            <div class="col imgd ">
            </div>
        </div>
        </div>
</div>

