

<div class="imageback">

    <div class="abc">
        <ul>
            <li>home</li> 
            <li>about</li>
            <li>contact</li>
            <li>gallery</li>
        </ul>
    </div>

    <div class="div1"> 
        <section class="thre">
            <div class="gird">
               
            </div>
            <div class="grid">
             
            </div>
            <div class="grid">
             
            </div>
            <div class="grid">
             
            </div>
           

        </section>  
        <section class="thre">
            <div class="gird">
               
            </div>
            <div class="grid">
             
            </div>
            <div class="grid">
             
            </div>
            <div class="grid">
             
            </div>

        </section>
          
    </div> 

   

</div>

<div class="div2">
      <div class="row">
          <div class="col ">aaa</div>
          <div class="col cls">bbb</div>
      </div>
      <div class="row">
        <div class="col cls">aaa</div>
        <div class="col ">bbb</div>
    </div>
    <div class="row">
        <div class="col ">aaa</div>
        <div class="col cls">bbb</div>
    </div>
</div>

