<p>philosiphy works!</p>

<div class="row" style="margin-top: 50px; border: 2px solid rgb(255, 208, 0);">

    
    <div class="col abc" style="margin-top: 40px; padding-left: 40px;padding-right: 20px; margin-bottom: 30px;"> 
        <h3 style="border-bottom: 2px solid rgb(255, 208, 0);">philosophy Culture</h3>
       <strong> Indian philosophy</strong> comprises the philosophical traditions of the Indian subcontinent. There are 
        six schools of orthodox <strong>Hindu philosophy</strong> — <strong>Nyaya</strong> ,<strong>Vaisheshika</strong>
         ,<strong>Samkhya</strong> ,<strong>Yoga</strong> ,<strong>Mīmāṃsā </strong>and <strong>Vedanta</strong> —and
         four heterodox schools—Jain, Buddhist, Ājīvika and Cārvāka – last two are also schools of Hinduism. 
         However, there are other methods of classification; Vidyarania for instance identifies sixteen schools
          of Indian philosophy by including those that belong to the Śaiva and Raseśvara traditions. Since medieval
           India (ca.1000–1500), schools of Indian philosophical thought have been classified by the Brahmanical
            tradition as either orthodox or non-orthodox – āstika or nāstika – depending on whether they regard the 
            Vedas as an infallible source of knowledge. <br> <br>
            The main schools of Indian philosophy were formalised chiefly between 1000 BCE to the early centuries
             of the Common Era. According to philosopher Sarvepalli Radhakrishnan, the earliest of these,
              which date back to the composition of the Upanishads in the later Vedic period (1000–500 BCE),
               constitute "the earliest philosophical compositions of the world". Competition and integration 
               between the various schools were intense during their formative years, especially between 800 BCE
                and 200 CE. <br> Some schools like Jainism, Buddhism, Śaiva and Advaita Vedanta survived, but others, 
                like Samkhya and Ājīvika, did not; they were either assimilated or became extinct. Subsequent 
                centuries produced commentaries and reformulations continuing up to as late as the 20th century.
                 Authors who gave contemporary meaning to traditional philosophies
             include Shrimad Rajchandra, Swami Vivekananda, Ram Mohan Roy, and Swami Dayananda Saraswati.

    </div>
    <div class="col">
        <div class="row">
            <div class="col" style="margin-top: 40px;" >
                <img style="width: 300px; height: 200px; border-radius: 10px; margin-top: 20px;" [src]="myimage1" alt="">
                <p style="padding-top: 20px;">
                    Earliest Hindu philosophy were arranged and codified by 
                Hindu Vedic sages, such as Yajnavalkya (c. 8th century BCE), who is considered one of the 
                earliest philosophers in recorded history, after Aruni (c. 8th century BCE).
                </p>
                
            </div>
            <div class="col" style="margin-top: 40px;">
                <img style="width: 300px; height: 200px;  border-radius: 10px; margin-top: 20px;" [src]="myimage2" alt="">
                <p style="padding-top: 20px;">
                    Jain philosophy were propagated by 24 Tirthankaras,
                     notably Parshvanatha (c. 872 – c. 772 BCE) and Mahavira (c. 549–477 BCE).
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-top: 20px;">
                <img style="width: 300px; height: 200px;  border-radius: 10px; margin-top: 20px;" [src]="myimage3" alt="">
                <p style="padding-top: 20px;">
                    Buddhist philosophy was founded by Gautama Buddha (c. 563–483 BCE).
                </p>
            </div>
            <div class="col" style="margin-top: 20px;" >
                <img style="width: 300px; height: 200px;  border-radius: 10px; margin-top: 20px;" [src]="myimage4" alt="">
                <p style="padding-top: 20px;">
                    Sikh philosophy was crystalised in Guru Granth Sahib enshrined
                     by Guru Gobind Singh (c. 1666–1708 CE).

                </p>
            </div>
        </div>
       
    </div>
</div>
