<h4 style="margin-left: 200px;"> Tourism Feedback Form</h4> 


<div class="form">
    <form class="formmain" #f="ngForm" action="/action_page.php">
        <div class="form-group">
            <label for="text">Name:</label>
            <input #nameref="ngModel"  [(ngModel)]="textprop" type="text" class="form-control" id="text" placeholder="Enter Your name" name="text" required>
          </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input  #emailref="ngModel"  [(ngModel)]="emailprop" type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
        </div>
        <div class="form-group">
          <label for="location">Mention Location of Toursim Places Which was Visited:</label>
          <textarea  #locationref="ngModel"  [(ngModel)]="locprop"   class="form-control"  name="location" placeholder="Enter Location"  id="location"cols="30" rows="10" style="height: 150px;" required ></textarea>  
        </div>  
        <div class="form-group">
          <label for="address">Description About Tourism Place:</label>
          <textarea  #addressref="ngModel"  [(ngModel)]="addressprop"  class="form-control"  name="address" placeholder="Enter Description"  id="address"cols="30" rows="10" style="height: 150px;" required ></textarea>   
        </div>
        <div class="form-group"> 
          <label for="loc">Enter latitude of the location:</label>
          <input  #latref="ngModel"  [(ngModel)]="latitudeprop" type="loction" class="form-control" id="long" placeholder="latitude" name="latitude" required>
         
        </div>
        <div class="form-group">
          <label for="loc">Enter longitude of the location:</label>
          <input  #lonref="ngModel"  [(ngModel)]="longitudeprop" type="loction" class="form-control" id="lat" placeholder="longitude" name="longitude"  required>
        </div> 
        <!-- <div class="form-group">
            <label for="email">Select file :</label>
            <input type="file" id="myfile" name="myfile">
         </div>  -->
         <div class="form-group">
          <div  style="margin-top: 10px; margin-bottom: 10px;">
               <label>form logo</label>
               <input (change)="getFile($event)"  name="logo" type="file" required>
           </div>
           <div style="margin-top: 10px; margin-bottom: 10px;">
               <label>form Banner</label>
               <input (change)="getFile($event)"  name="banner" type="file" required>
           </div>
       </div>
       
        <button style="margin-left: 130px; border-radius: 5px;" type="submit" class="btn btn-primary" (click)="form()">Submit</button>
      </form>
</div>



   

   