<p>about works!</p>


<div class="container my-5 py-5 z-depth-1">
 
 
  <!--Section: Content-->
  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-6 mb-4 mb-md-0">

        <h3 style="border-bottom: 2px solid rgb(255, 208, 0) ;" class="font-weight-bold">ABOUT US</h3>
           <h5 class="text-muted"> Welcome to the site here you can explore the beauty of the India.</h5>
                 <p class="text-muted"> This website provide you the most beautiful Cities, Wildlife sanctuary,
                  Historical places and different Cultures for exploring.
                 </p>          
       
        <a class="btn btn-purple btn-md ml-0" href="" role="button">Start now<i class="fa fa-gem ml-2"></i></a>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4 mb-md-0">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img style="height: 300px; width: 500px; margin-top: 10px;" [src]="myimg" class="img-fluid"
            alt="">
          <a href="#">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->


  </section>
  <!--Section: Content-->


</div>
