

<div class="container-fluid mt-3 mb-5"  >

    <!-- Section: Block Content -->
    <section class="mb-4">
  
     
  
      <div class="card">
  
        <div class="row">
          <div class="col-md-6">
  
            <!-- Google Maps -->
            <div id="map-within-card-2" class="map-container rounded-left">
              <iframe src="https://maps.google.com/maps?q=India&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                style="border:0" allowfullscreen></iframe>
            </div>
            <!-- Google Maps -->
      
          </div>
  
          <div class="col-10 col-md-4 mx-auto align-self-center py-4">
  
            <h6 style="border-bottom: 2px solid rgb(255, 208, 0) ;" class="font-weight-bold grey-text text-uppercase small">Map</h6>
            <h5 class="font-weight-normal mb-4">Visit Your Travelling Location Here</h5>
            <p class="text-muted font-weight-light">raja park, <br>jaipur</p>
            <p class="text-muted font-weight-light mb-0">Phone: +91 9602058877<br>Email: tourism@gmail.com</p>
  
          </div>
        </div>
  
      </div>
  
    </section>
    <!-- Section: Block Content -->
  
  </div>
