<p>wedding works!</p>

<div class="row" style="margin-top: 50px; border: 2px solid rgb(255, 208, 0);">
    
    <div class="col abc" style="margin-top: 40px; padding-left: 40px;padding-right: 20px; margin-bottom: 30px;">
         <h3 style="border-bottom: 2px solid rgb(255, 208, 0);">Wedding Rituals</h3>
         For generations, India has a prevailing tradition of the joint family system. It is when extended members 
         of a family – parents, children, the children's spouses and their offspring, etc. – live together. Usually, 
         the oldest male member is the head of the joint Indian family system.
          He mostly makes all important decisions and rules, and other family members are likely to abide by them. <br> <br>
          Arranged marriages have long been the norm in Indian society. Even today, the majority of Indians have 
          their marriages planned by their parents and other respected family-members. In the past, the age of
           marriage was young. The average age of marriage for women in India has increased to 21 years, 
          according to the 2011 Census of India. In 2009, about 7% of women got married before the age of 18. <br> <br>
          Weddings are festive occasions in India with extensive decorations, colors, music, dance, costumes 
          and rituals that depend on the religion of the bride and the groom, as well as their preferences.
           The nation celebrates about 10 million weddings per year,of which over 80% are Hindu weddings. <br> <br>
           While there are many festival-related rituals in Hinduism, vivaha (wedding) is the most extensive personal
           ritual an adult Hindu undertakes in his or her life.[65][66] Typical Hindu families spend significant
            effort and financial resources to prepare and celebrate weddings. The rituals and process of a Hindu
             wedding vary depending on the region of India, local adaptations, resources of the family and preferences
              of the bride and the groom. Nevertheless, there are a few key rituals common in Hindu weddings
               – Kanyadaan, Panigrahana, and Saptapadi; these are respectively, gifting away of daughter by the father,
                voluntarily holding hand near the fire to signify impending union, and taking seven steps before fire 
                with each step including a set of mutual vows. Mangalsutra necklace of bond that a Hindu groom ties with 
                three knots around the bride’s neck in a marriage ceremony. <br> <br> The practice is an integral part of a marriage
                 ceremony as prescribed in Manusmriti, the traditional law governing Hindu marriage. After the seventh step
                  and vows of Saptapadi, the couple is legally husband and wife.[66][67][68] Sikhs get married through a 
                  ceremony called Anand Karaj. The couple walks around the holy book, the Guru Granth Sahib four times.Indian
                   Muslims celebrate a traditional Islamic wedding following customs similar to those practiced in the Middle 
                   East. The rituals include Nikah, payment of financial dower called Mahr by the groom to the bride, signing 
                   of a marriage contract, and a reception.[69] Indian Christian weddings follow customs similar to those practiced
            in the Christian countries in the West in states like Goa but have more Indian customs in other states.
        
    </div>
    <div class="col">
        <div class="row">
            <div class="col" style="margin-top: 40px;">Hindu Temple
                <img style="width: 300px; height: 200px; border-radius: 10px; margin-top: 20px;" [src]="myimage1" alt="">
            </div>
            <div class="col" style="margin-top: 40px;">Buddhist Temple
                <img style="width: 300px; height: 200px;  border-radius: 10px; margin-top: 20px;" [src]="myimage2" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-top: 40px;">Sikh Golden Temple
                <img style="width: 300px; height: 200px;  border-radius: 10px; margin-top: 20px;" [src]="myimage3" alt="">
            </div>
            <div class="col" style="margin-top: 40px;" >Jain Temple
                <img style="width: 300px; height: 200px;  border-radius: 10px; margin-top: 20px;" [src]="myimage4" alt="">
            </div>
        </div>
       
    </div>
</div>
