<p>sculpture works!</p>

<div class="row" style="margin-top: 50px; border: 2px solid rgb(255, 208, 0);">
    
    <div class="col abc" style="margin-top: 40px; padding-left: 40px;padding-right: 20px; margin-bottom: 30px;">
        <h3 style="border-bottom: 2px solid rgb(255, 208, 0);">Sculpture and Architecture</h3>
      <strong> The first sculptures</strong>  in India date back to the Indus Valley civilisation, where stone and bronze figures have been discovered. Later, as Hinduism, Buddhism, and Jainism developed further, India produced some extremely intricate bronzes as well as temple carvings. Some huge shrines, such as the one at Ellora were not constructed by using blocks but carved out of solid rock. <br> <br>
Sculptures produced in the northwest, in stucco, schist, or clay, display a very strong blend of Indian and Classical Hellenistic or possibly even Greco-Roman influence. The pink sandstone sculptures of Mathura evolved almost simultaneously. During the Gupta period (4th to 6th centuries) sculpture reached a very high standard in execution and delicacy in modeling. These styles and others elsewhere in India evolved leading to classical Indian art that contributed to Buddhist and Hindu sculptures throughout Southeast Central and East Asia. <br> <br>
 <strong>Indian architecture</strong>  encompasses a multitude of expressions over space and time, constantly absorbing new ideas. The result is an evolving range of architectural production that nonetheless retains a certain amount of continuity across history. Some of its earliest production are found in the Indus Valley Civilisation (2600–1900 BC) which is characterised by well-planned cities and houses. Religion and kingship do not seem to have played an important role in the planning and layout of these towns. <br> <br>
During the period of the <i>Mauryan</i>  and <i>Gupta empires</i>   and their successors, several Buddhist architectural complexes, such as the caves of Ajanta and Ellora and the monumental Sanchi Stupa were built. Later on, South India produced several Hindu temples like Chennakesava Temple at Belur, the Hoysaleswara Temple at Halebidu, and the Kesava Temple at Somanathapura, Brihadeeswara Temple, Thanjavur built by Raja Raja Chola, the Sun Temple, Konark, Sri Ranganathaswamy Temple at Srirangam, and the Buddha stupa (Chinna Lanja dibba and Vikramarka kota dibba) at Bhattiprolu. Rajput kingdoms oversaw the construction of Khajuraho Temple Complex, Chittor Fort and Chaturbhuj Temple, etc. during their reign. Angkor Wat, Borobudur and other Buddhist and Hindu temples indicate strong Indian influence on South East Asian architecture, as they are built in styles almost identical to traditional Indian religious buildings. <br> <br>
    </div>
    <div class="col">
        <div class="row">
            <div class="col" style="margin-top: 40px;">
                <img style="width: 200px; height: 250px; border-radius: 10px; margin-top: 20px;margin-left: 50px;" [src]="myimage1" alt="">
                <p style="padding-top: 20px;">
                    The iconic 57 ft high monolithic Statue of Gommateshwara, Shravanabelagola, 10th Century.
                </p>
            </div>
            <div class="col" style="margin-top: 40px;">
                <img style="width: 200px; height: 250px;  border-radius: 10px; margin-top: 20px;" [src]="myimage2" alt="">
                <p style="padding-top: 20px;">
                    The Colossal trimurti at the Elephanta Caves.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-top: 20px;">
                <img style="width: 200px; height: 250px;  border-radius: 10px; margin-top: 20px;margin-left: 50px;" [src]="myimage3" alt="">
                <p style="padding-top: 20px;">
                    The 5th-century Buddhist vishvakarma cave at Ellora, Maharashtra.
                </p>
            </div>
            <div class="col" style="margin-top: 20px;" >
                <img style="width: 200px; height: 250px;  border-radius: 10px; margin-top: 20px;" [src]="myimage4" alt="">
                <p style="padding-top: 20px;">
                    Marble Sculpture of female, c. 1450, Rajasthan.
                </p>
            </div>
           
        </div>
        <div class="row">
            <div class="col" style="margin-top: 20px;">
                <img style="width: 250px; height: 200px;  border-radius: 10px; margin-top: 20px;margin-left: 25px;" [src]="myimage5" alt="">
                <p style="padding-top: 20px;">
                    The granite tower of Brihadeeswarar Temple in Thanjavur was completed in 1010 CE by Raja Raja Chola I.
                </p>
            </div>
            <div class="col" style="margin-top: 20px;" >
                <img style="width: 250px; height: 200px;  border-radius: 10px; margin-top: 20px;margin-right: auto;" [src]="myimage6" alt="">
                <p style="padding-top: 20px;">
                    Chaturbhuj Temple at Orchha, is noted for having one of the tallest Vimana among Hindu temples standing at 344 feet.
                     It was the tallest structure in the Indian subcontinent from 1558 CE to 1970 CE.
                </p>
            </div>
           
        </div>
       
    </div>
</div>
